
<h1>Lista De Categorias</h1>
<a href="<%= new_category_path %>" class="btn btn-primary btn-icon-split">
  <span class="icon text-write-50">
  <i class="fas fa-flag"></i>
  </span>
  <span class="text">Crear Categoria</span>
</a>
<%#<%= link_to 'Exportar a Excel', product_url(@product, format: :xlsx), class: 'btn btn-success' %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Tipo Categoria</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.tipe_category %></td>
      <td><%= link_to "Detalles", category_path(category), class:'btn btn-primary' %></td>
    </tr>
  <% end %>
  </tbody>
</table>