<div id="<%= dom_id product %>">
  <p>
    <strong>Codigo:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= product.guy %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= product.amount %>
  </p>

  <p>
    <strong>Medida:</strong>
    <%= product.extend %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= product.brand %>
  </p>

  <p>
    <strong>Precio Compra:</strong>
    <%= product.purchase_price %>
  </p>

  <p>
    <strong>Precio Venta:</strong>
    <%= product.sale_price %>
  </p>

</div>
