<%= stylesheet_link_tag 'sales' %>
<div class = "row">
    <div class="col-md-6">
        <h3 class="h3 mb-2 text-gray-800">Punto de Venta</h3>
    </div>
    <div class="col-md-6" style="text-align:right;">
        <h2 id="importe_venta_lbl"> Importe $<%= @venta.total %></h2>
    </div>
    <div class="col-md-5">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscador_producto">
          Buscar Productos
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#buscador_cliente">
        Buscar Clientes
        </button>
    </div>
    <div class="col-md-7" style="text-align:right;">
        <%= link_to "Finalizar Venta", sales_path, class: "btn btn-success" %>
        <%= link_to 'Cancelar Venta', @venta, method: :delete, data: { confirm: 'Cancelar?' }, class: "btn btn-danger" %>
    </div>
    <div id="#cliente_venta" class="nombre-cliente col-md-3">
        cliente general
    </div>
  </div>
  <br />
  <div class="card shadow mb-4">
  <div class="card-body">
      <div class="table-responsive">
      <table class="table table-bordered" id="tabla_ventas" width="80%" cellspacing="0">
        <thead>
        <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Importe</th>
        </tr>
        </thead>
      <tbody>
            <% if @productos_venta.empty? %>
            <tr>
              <td>No hay productos en la venta</td><td></td><td></td>
            </tr>
            <% else %>
              <% @productos_venta.each do |det| %>
            <tr>
              <td><%= det.product.try(:description) %></td>
              <td><%= det.product.try(:price_sale) %></td>
              <td><%= det.amount %></td>
              <td>$<%= det.product.try(:price_sale) * det.amount %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<% @model = @venta %>

<%= render "buscador_producto", model: @model, tipo: "sales" %>
<%= render "buscador_cliente" %>
